<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="An application to determine the tendency of the Force.">
		<meta name="author" content="James Mason">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Force Balance</title>
		<link rel="stylesheet" href="css/style.css" media="all" type="text/css" title="Client Application Stylesheet">
	</head>
	<body data-ng-app="ForceApp" data-ng-init="getAllJedi()">
	  <main data-ng-controller="ForceController">
			<header>
				<h1>Force Balance</h1>
			</header>
			<section class="left-column">
				<h3>$ jedi</h3>
				<ul>
		      <li data-ng-repeat="thisLightJedi in lightJedi">
		        <form data-ng-submit="updateLightJedi(thisLightJedi)">
							<section>
		          	<input data-ng-model="thisLightJedi.name" placeholder="name" type="text"/>
							</section>
		          <input data-ng-model="thisLightJedi.health" placeholder="health" type="text"/>
							<input data-ng-model="thisLightJedi.damage.min" placeholder="minimum damage" type="text"/>
							<input data-ng-model="thisLightJedi.damage.max" placeholder="maximum damage" type="text"/>
							<input data-ng-model="thisLightJedi.accuracy" placeholder="accuracy" type="text"/>
							<section>
			          <button type="submit">update</button>
								<button data-ng-click="deleteLightJedi(thisLightJedi)">delete</button>
							</section>
		        </form>
		      </li>
		    </ul>
			</section>
			<section class="center-column">
				<section class="creation-form">
					<h3>create light jedi</h3>
			    <form data-ng-submit="createLightJedi(newLightJedi)">
			      <input data-ng-model="newLightJedi.name" placeholder="name" type="text"/>
			      <input data-ng-model="newLightJedi.health" placeholder="health" type="text"/>
						<input data-ng-model="newLightJedi.damage.min" placeholder="minimum damage" type="text"/>
						<input data-ng-model="newLightJedi.damage.max" placeholder="maximum damage" type="text"/>
						<input data-ng-model="newLightJedi.accuracy" placeholder="accuracy" type="text"/>
						<section>
							<button type="submit">create</button>
						</section>
			    </form>
				</section>
				<section class="creation-form">
					<h3>create dark jedi</h3>
			    <form data-ng-submit="createDarkJedi(newDarkJedi)">
			      <input data-ng-model="newDarkJedi.name" placeholder="name" type="text"/>
			      <input data-ng-model="newDarkJedi.health" placeholder="health" type="text"/>
						<input data-ng-model="newDarkJedi.damage.min" placeholder="minimum damage" type="text"/>
						<input data-ng-model="newDarkJedi.damage.max" placeholder="maximum damage" type="text"/>
						<input data-ng-model="newDarkJedi.accuracy" placeholder="accuracy" type="text"/>
						<section>
			      	<button type="submit">create</button>
						</section>
			    </form>
				</section>
			</section>
			<section class="right-column">
				<h3>jedi #</h3>
				<ul>
		      <li data-ng-repeat="thisDarkJedi in darkJedi">
		        <form data-ng-submit="updateDarkJedi(thisDarkJedi)">
							<section>
		          	<input data-ng-model="thisDarkJedi.name" placeholder="name" type="text"/>
							</section>
		          <input data-ng-model="thisDarkJedi.health" placeholder="health" type="text"/>
							<input data-ng-model="thisDarkJedi.damage.min" placeholder="minimum damage" type="text"/>
							<input data-ng-model="thisDarkJedi.damage.max" placeholder="maximum damage" type="text"/>
							<input data-ng-model="thisDarkJedi.accuracy" placeholder="accuracy" type="text"/>
							<section>
								<button type="submit">update</button>
								<button data-ng-click="deleteDarkJedi(thisDarkJedi)">delete</button>
							</section>
		        </form>
		      </li>
		    </ul>
			</section>
			<footer>
				may the force be with you
			</footer>
	  </main>
		<script src="js/bundle.min.js" type="text/javascript" title="Webpack Javascript Bundle"></script>
	</body>
</html>
