$white: #fff;
$gray: #BABABE;
$dGray: #2B2C31;
$green: #339900;
$greener: #00BD39;
$greenest: #64DE89;

body{
  background-color: $dGray;
}
main{
  background: url(https://static.pexels.com/photos/6414/rucola-young-argula-sproutus.jpg) center no-repeat ;
  background-size: cover;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  color: $gray;
  line-height: 1;
  font-family: "lato";
  display: block;
}
article, li{
  border-bottom: 1px solid $gray;
}
a {
  color: $green;
  &:hover {
    color: $greener;
  }
  &:visited {
    color: $greenest;
  }
}
ol, ul {
  list-style: none;
  padding: 0;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
