<form name="authForm" data-ng-submit="submit(auth)">

  <label data-ng-if="signup" for="username">Enter your preferred username : </label>
  <input data-ng-if="signup" type="text" name="username" data-ng-model="auth.username">

  <label for="email">The email to use with the Mix: Activity and Playlist App (required) : </label>
  <input type="text" required name="email" data-ng-model="auth.email">

  <label for="password">Password : </label>
  <input type="password" required name="password" data-ng-model="auth.password">

  <label data-ng-if="signup" for="confirmation">Confirm your password : </label>
  <input data-ng-if="signup" type="password" name="confirmation" data-ng-model="auth.confirmation">

  <button type="submit"
    data-ng-disabled="(signup && (auth.confirmation !== auth.password)) || authForm.$invalid">
    {{signup ? 'Create a new account' : 'Sign In'}}
  </button>
</form>
