<section data-ng-init="getAll()">
  <section data-ng-if="errors.length">
    <h2>Errors: </h2>
    <ul>
      <li data-ng-repeat="error in errors">{{error}}<button data-ng-click="dismissError(error)" alt="dismiss">X</button></li>
    </ul>
  </section>
  <section class="right">
    <!-- show all the flowers -->
    <h2>flowers!</h2>
    <ul>
      <!-- display the flower -->
      <resource data-ng-repeat="flower in flowers" 
          data-resource-data="flower"
          data-attr-name="difficulty to grow"
          data-attr="flower.difficulty_to_grow"
          data-resource="flower"
          >
        <!-- delete the flower -->
        <button data-ng-click="delete(flower, $index, flowers)">Delete {{flower.name}}</button>
        <!-- toggle editing mode -->
        <button data-ng-if="!flower.editing" data-ng-click="toggleEdit(flower, $index)">edit</button>
        <!-- form -->
        <resource-form 
            data-ng-if="flower.editing" 
            data-save="update(flower, flowers)"
            data-button-text="Update Flower"
            data-resource="flower"
            data-attr="flower.difficulty_to_grow"
            data-attr-name="difficulty to grow"
            >
          <button type="button" data-ng-click="toggleEdit(flower, $index)">Cancel</button>
        </resource-form>
      </resource> 
    </ul>
    <!-- post a new flower -->
    <article>
      <h4>NEW FLOWER</h4>
      <resource-form
        data-button-text="New Flower"
        data-resource="newFlower"
        data-save="post(newFlower, flowers)"
        data-attr="newFlower.difficulty_to_grow"
        data-attr-name="difficulty to grow"
      ></resource-form>
    </article>
  </section>

  <section class="left">
    <!-- show all the gardeners -->
    <h2>gardeners!</h2>
    <ul>
      <resource data-ng-repeat="gardener in gardeners" 
          data-resource-data="gardener"
          data-attr-name="favorite flower"
          data-attr="gardener.favFlower"
          data-resource="gardener"
          >
        <!-- delete the gardener -->
        <button data-ng-click="delete(gardener, $index, gardeners)">DELETE {{gardener.name}} </button>
        <!-- edit the gardener -->
        <button data-ng-if="!gardener.editing" data-ng-click="toggleEdit(gardener, $index)">edit</button>
        <!-- form -->
        <resource-form 
            data-ng-if="gardener.editing" 
            data-save="update(gardener, gardeners)"
            data-button-text="Update Gardener"
            data-resource="gardener"
            data-attr="gardener.favFlower"
            data-attr-name="favorite flower"
            >
          <button type="button" data-ng-click="toggleEdit(gardener, $index)">Cancel</button>
        </resource-form>
      </resource>
    </ul>
    <!-- post a new gardener -->
    <article>
      <h4>NEW GARDENER</h4>
      <resource-form  
          data-save="post(newGardener, gardeners)"
          data-button-text="New Gardener"
          data-resource="newGardener"
          data-attr="newGardener.favFlower"
          data-attr-name="favorite flower"
          >
      </resource-form>
    </article>
  </section>
  
  <section class="nonCrud" >
    <p>{{nonCrud}}</p>
  </section>
</section>
