<section data-ng-init="getAll()">
  <section class="right">
    <!-- show all the flowers -->
    <h2>flowers!</h2>
    <ul>
      <flower data-ng-repeat="flower in flowers" data-flower-data="flower">
        <!-- delete the flower -->
        <button data-ng-click="delete(flower, $index, flowers)">Delete {{flower.name}}</button>
        <button data-ng-if="!flower.editing" data-ng-click="toggleEdit(flower, $index)">edit</button>
        <flower-form 
          data-ng-if="flower.editing" 
          data-save="update(flower, flowers)"
          data-button-text="Update Flower"
          data-resource="flower"
        >
          <button type="button" data-ng-click="toggleEdit(flower, $index)">Cancel</button>
        </flower-form>
      </flower> 
    </ul>
    <!-- post a new flower -->
    <article>
      <h4>NEW FLOWER</h4>
      <flower-form
        data-button-text="New Flower"
        data-resource="newFlower"
        data-save="post(newFlower, flowers)"
      ></flower-form>
    </article>
  </section>

  <section class="left">
    <!-- show all the gardeners -->
    <h2>gardeners!</h2>
    <article data-ng-repeat="gardener in gardeners">
      <h3>{{gardener.name}} is a gardener</h3>
      <h4>{{gardener.favFlower}} is {{gardener.name}}'s favorite flower.</h4>
      <button data-ng-if="!gardener.editing" data-ng-click="toggleEdit(gardener, $index)">edit</button>
      <form ng-if="gardener.editing" ng-submit="update(gardener, gardeners)">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" data-ng-model="gardener.name">
        <label for="favFlower">Favorite Flower:</label>
        <input type="text" name="favFlower" data-ng-model="gardener.favFlower">
        <button type="submit">update</button>
        <button type="button" data-ng-click="toggleEdit(gardener, $index)">Cancel</button>
      </form>
      <!-- delete button -->
      <button data-ng-click="delete(gardener, $index, gardeners)">DELETE {{gardener.name}} </button>
    </article>
    <!-- post a new gardener -->
    <article>
      <h4>NEW GARDENER</h4>
      <form data-ng-submit="post(newGardener, gardeners)">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" data-ng-model="newGardener.name">
        <label for="favFlower">Favorite Flower:</label>
        <input type="text" name="favFlower" id="favorite flower" data-ng-model="newGardener.favFlower">
        <button type="submit">POST</button>
      </form>
    </article>
  </section>
  
  <section class="nonCrud" >
    <p>{{nonCrud}}</p>
  </section>
</section>
