<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Client Two Resources CRUD</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/base.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/module.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body data-ng-app="twoResourcesApp">
        <section class="movies" data-ng-controller="MoviesController" data-ng-init="getAllMovies()">
          <h1>Movies</h1>
          <ul>
            <ol data-ng-repeat="movie in movies">
                  <data value="">{{movie.name}}</data>
                  <data value="">{{movie.type}}</data>
                  <data value="">{{movie.actors}}</data>
                  <data value="">  {{movie.publish}}</data>
                  <button data-ng-click="deleteMovie(movie)" type="button" class="btn btn-primary btn-xs">Delete</button>
                  <button data-ng-click="movie.editing = !movie.editing" type="button" class="btn btn-primary btn-xs">Update</button>
                  <form data-ng-if="movie.editing" data-ng-submit="updateMovie(movie)">
                      <input type="text" data-ng-model="movie.name" class="form-control" placeholder="name">
                      <input type="text" data-ng-model="movie.type" class="form-control" placeholder="type">
                      <input type="text" data-ng-model="movie.actors" class="form-control" placeholder="actors">
                      <input type="text" data-ng-model="movie.publish"  class="form-control" placeholder="publish">
                      <button type="submit" class="btn btn-default">Submit</button>
                  </form>
           </ol>
          </ul>
          <hr>
          <h2>Create New Movie</h2>
          <form data-ng-submit="createMovie(newMovie)" style="margin-top: 2rem">
              <input type="text" data-ng-model="newMovie.name" class="form-control" placeholder="name">
              <input type="text" data-ng-model="newMovie.type" class="form-control" placeholder="type">
              <input type="text" data-ng-model="newMovie.actors" class="form-control" placeholder="actors">
              <input type="text" data-ng-model="newMovie.publish"  class="form-control" placeholder="publish">
              <button type="submit" class="btn btn-default">New Movie</button>
          </form>
          <hr>

            <h2>Movies List</h2>
            <table class="table" style="margin-top: 3rem">
              <thead>
                <tr>
                  <td> <strong>movie name</strong>  </td>
                  <td>  <strong>movie type</strong> </td>
                  <td>  <strong>movie actors</strong> </td>
                  <td>  <strong>publishe time</strong> </td>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="movie in movies">
                  <td>
                    {{movie.name}}
                  </td>
                  <td>
                    {{movie.type}}
                  </td>
                  <td>
                    {{movie.actors}}
                  </td>
                  <td>
                    {{movie.publish}}
                  </td>
                </tr>
              </tbody>
          </table>
        </section>


        <section class="actors" data-ng-controller="ActorsController" data-ng-init="getAllActors()">
          <h1>Actors</h1>
          <ul>
            <ol data-ng-repeat="actor in actors">
                  <data value="">{{actor.name}}</data>
                  <data value="">{{actor.country}}</data>
                  <data value="">{{actor.age}}</data>
                  <button data-ng-click="deleteActor(actor)" type="button" class="btn btn-primary btn-xs">Delete</button>
                  <button data-ng-click="actor.editing = !actor.editing" type="button" class="btn btn-primary btn-xs">Update</button>
                <form data-ng-if="actor.editing" data-ng-submit="updateActor(actor)">
                    <input type="text" data-ng-model="actor.name" class="form-control" placeholder="name">
                    <input type="text" data-ng-model="actor.country" class="form-control" placeholder="country">
                    <input type="text" data-ng-model="actor.age" class="form-control" placeholder="age">
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
           </ol>
          </ul>
          <hr>
          <h2>Create New Actor</h2>
          <form data-ng-submit="createActor(newActor)" style="margin-top: 2rem">
              <input type="text" data-ng-model="newActor.name" class="form-control" placeholder="name">
              <input type="text" data-ng-model="newActor.country" class="form-control" placeholder="country">
              <input type="text" data-ng-model="newActor.age" class="form-control" placeholder="age">
              <button type="submit" class="btn btn-default">New Actor</button>
          </form>
          <hr>
            <h2>Actors List</h2>
            <table class="table" style="margin-top: 3rem">
              <thead>
                <tr>
                  <td> <strong>actor name</strong>  </td>
                  <td>  <strong>actor country</strong> </td>
                  <td>  <strong>actor age</strong> </td>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="actor in actors">
                  <td>
                    {{actor.name}}
                  </td>
                  <td>
                    {{actor.country}}
                  </td>
                  <td>
                    {{actor.age}}
                  </td>
                </tr>
              </tbody>
          </table>
        </section>


    <script src="bundle.js"></script>
  </body>
</html>
