body {
	background-color: #2C5371;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
}
h1 {
	font-size: 30px;
	padding: 20px;
}
h2 {
	font-size: 20px;
	padding: 20px;
}
ol, ul, table {
	padding: 20px;
}
