.col-width {
  width: 32%;
  max-width: 32%;
  float: left;
  padding: 1em;
  margin: 1%;
}

bdi {
  width: 100%;
  padding: 1em;
  display: block;
  .cat-property {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    color: white;
    margin-bottom: 0.5em;
    display: block;
    text-align: left;
  }
}
