<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Playlist API Client </title>
  </head>
  <body>
    <main>
      <h1>Playlist API Client</h1>
      <section data-ng-app="playlistApp">
        <section data-ng-controller="playlistController">

          <h2>Playlist API:</h2>
          <ul>
            <li data-ng-repeat="myPlist in playlist">{{myPlist.name}}, {{myPlist.dj}}
              <button data-ng-click="deletePlaylist(myPlist)">Delete This Playlist</button>
              <button data-ng-click="myPlist.editting = !myPlist.editting">Update This Playlist</button>
              <form data-ng-if="myPlist.editting" data-ng-submit="updatePlaylist(myPlist)">
                <input data-ng-model="myPlist.name" type="text"/>
                <input data-ng-model="myPlist.dj" type="text"/>
                <button type="submit">Update</button>
              </form>
            </li>
          </ul>
          <form data-ng-submit="createPlaylist(newPlist)">
            <input data-ng-model="newPlist.name" type="text"/>
            <input data-ng-model="newPlist.dj" type="text"/>
            <button type="submit">New Playlist</button>
          </form>
          <p>{{playlist}}</p>
        </section>
      </section>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript">
      //better to have than not I think
      var playlistApp = angular.module('playlistApp', []);

      playlistApp.controller('playlistController', ['$scope', '$http', ($scope, $http) => {
        $scope.playlist = [];

        $http.get('http://localhost:3050/api/playlist')
          .then((res) => {
            console.log('success!');
            $scope.playlist = res.data;
          }, (err) => {
            console.log(err);
          });

        $scope.createPlaylist = function(plist) {
          $http.post('http://localhost:3050/api/playlist', plist)
            .then((res) => {
              $scope.playlist.push(res.data);
              $scope.newPlist = null;
            }, (err) => {
              console.log(err);
            });
        };

        $scope.deletePlaylist = function(plist) {
          $http.delete('http://localhost:3050/api/playlist/' + plist._id)
            .then((res) => {
              $scope.playlist = $scope.playlist.filter((i) => i !== plist);
            }, (err) => {
              console.log(err);
            });
        };

        $scope.updatePlaylist = function(plist) {
          $http.put('http://localhost:3050/api/playlist/' + plist._id, plist)
            .then((res) => {
              $scope.playlist[$scope.playlist.indexOf(plist)] = plist;
              plist.editting = false;
            }, (err) => {
              console.log(err);
              plist.editting = false;
            });
        };
      }]);
    </script>
  </body>
</html>
