* {
  padding: 0;
  margin: 0;
}

h1 {
  color: blue;
  font-size: 20px;
  background-color: #fff;
}

body {
  background-color: #FCBE43;
  border-style: solid;
  border-width: 10px;
  border-color: #E57B0A;
}



