body {
  font-family: "Open Sans", Gadget, sans-serif;
}

h1 {
  color: white;
  font-size: 60px;
  margin: auto;
  width: 180px;
}

h2 {
  color: white;
  font-size: 40px;
  margin: auto;
  width: 375px;
}






