* {
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-size: 60px;
  /*background-color: #3498DB;*/
  margin: auto;
  /*border: 5px solid #2C3E50;*/
  width: 180px;
}

h2 {
  color: white;
  font-size: 40px;
  /*background-color: #3498DB;*/
  margin: auto;
  /*border: 5px solid #2C3E50;*/
  width: 350px;
}






