@import 'normalize';
@import 'base';

body {
  background: url('https://pbs.twimg.com/media/B_UemU8VEAApWT-.jpg') no-repeat center bottom fixed;
  font: 100% Helvetica, sans-serif;
  color: #333;
  background-color: #FCBE43;
}

