<section>
  <section data-ng-if="errors.length">
    <h2>Errors: </h2>
    <ul>
    	<li data-ng-repeat="error in errors">{{error}}<button data-ng-click="dismissError(error)" alt="dismiss">X</button></li>
    </ul>
  </section>
  <section data-ng-init="getCT()" class="column-left">
    <h2>Assemble the Counter-Terrorist team:</h2>
    <ul>
      <ct-display data-ng-repeat="ct in cts" data-ct-data="ct">
        <button data-ng-click="deleteCT(ct)">Delete CT</button>
        <button data-ng-if="!ct.editing" data-ng-click="toggleCTEdit(ct)">Update CT</button>
        <ct-form
          data-ng-if="ct.editing"
          data-save="updateCT(ct)"
          data-button-text="Update CT"
          data-ct="ct"
        >
        <button type="button" data-ng-click="toggleCTEdit(ct)">Cancel</button>
        </ct-form>
      </ct-display>
    </ul>
    <ct-display data-ct-data="newCT">
      <ct-form
        data-button-text="Create new CT"
        data-ct="newCT"
        data-save="createCT(newCT)"
      ></ct-form>
    </ct-display>
    <br/>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Rifle</th>
        <th>Pistol</th>
        <th>Grenade</th>
        <th>Organization</th>
      </tr>
      <tr data-ng-repeat="ct in cts">
        <td>{{ct.name}}</td>
        <td>{{ct.rifle}}</td>
        <td>{{ct.pistol}}</td>
        <td>{{ct.grenade}}</td>
        <td>{{ct.organization}}</td>
      </tr>
    </table>
  </section>
  <section data-ng-init="getT()" class="column-right">
    <h2>Assemble the Terrorist team:</h2>

    <ul>
      <t-display data-ng-repeat="t in ts" data-t-data="t">
        <button data-ng-click="deleteT(t)">Delete T</button>
        <button data-ng-if="!t.editing" data-ng-click="toggleTEdit(t)">Update T</button>
        <t-form
          data-ng-if="t.editing"
          data-save="updateT(t)"
          data-button-text="update T"
          data-t="t"
        >
        <button type="button" data-ng-click="toggleTEdit(t)">Cancel</button>
      </t-form>
    </t-display>
    </ul>
    <t-display data-t-data="newT">
      <t-form
        data-button-text="Create new T"
        data-t="newT"
        data-save="createT(newT)"
      ></t-form>
    </t-display>
    <br/>
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Rifle</th>
        <th>Pistol</th>
        <th>Grenade</th>
        <th>Organization</th>
      </tr>
      <tr data-ng-repeat="t in ts">
        <td>{{t.name}}</td>
        <td>{{t.rifle}}</td>
        <td>{{t.pistol}}</td>
        <td>{{t.grenade}}</td>
        <td>{{t.organization}}</td>
      </tr>
    </table>
  </section>
  <section class="column-center">
    <h1>Fight!</h1>
  </section>
</section>
