<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Brewing Adventures</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body data-ng-app="beersApp">
  <header>
    <h1>Beers!</h1>
  </header>
  <section id="container"> 

  <article></article>
  
  <main data-ng-controller="BeersController">
     

    <ul>
      <li data-ng-repeat="beer in beers">{{beer.name}}, {{beer.style}} 
      <button data-ng-click="deleteBeer(beer)">Delete Beer</button>
      <button data-ng-click="beer.editing = !beer.editing">Update Beer</button>
      <form data-ng-if="beer.editing" data-ng-submit="updateBeer(beer)">
        <input data-ng-model="beer.name" type="text"/>
        <input data-ng-model="beer.style" type="text"/>
        <button type="submit">Update</button>
      </form>
      </li>
    </ul>
    <form data-ng-submit="createBeer(newBeer)">
      <input data-ng-model="newBeer.name" type="text"/>
      <input data-ng-model="newBeer.style" type="text"/>
      <button type="submit">New Beer</button>
    </form>
    <p>{{beers}}

  </main>
  
  <aside></aside>
  

  </section>
  <footer>
    <h2>Rob Merrill 2016</h2>
  </footer>
  <script src="bundle.js"></script>

</body>
</html>
