//============================== colors ========================================
// theme specific
$tb-dark-blue: #305790;
$tb-light-blue: #2BA9D2;
$tb-khaki: #F6EAD0;
$tb-retro-red: #C43434;

// theme general
$default-text-color: black;
$white: #FFF;
$yellow: #FFFF00;
$lime: #b0eb00;
$pink: #FFCBDB;
$bright-red: #D70915;
$dark-blue: #210C7C;
$deep-blue: #0077b3;
$strong-cyan: #00b0b3;
$cyan: #24fbff;
$lavendar: #8a7dff;
$silver: #a6a6a6;
$dark-gray: #595959;
$midnight-gray: #444;
$mine-shaft: #363636;
$night-rider: #111;
$black: #000;
