//============================== colors ========================================
$default-text-color: black !important;
$white: #FFF;
$yellow: #FFFF00;
$lime: #b0eb00;
$pink: #FFCBDB;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-blue: #0077b3;
$strong-cyan: #00b0b3;
$cyan: #24fbff;
$lavendar: #8a7dff;
$silver: #a6a6a6;
$dark-gray: #595959;
$midnight-gray: #444;
$mine-shaft: #363636;
$night-rider: #111;
$black: #000;
