<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super Politician Stream Adventure</title>
  <link href='https://fonts.googleapis.com/css?family=Ovo|Muli|Roboto:900,400,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles.css">
</head>
<body data-ng-app="politiciansApp">
  <div class="">
    <header>

     <input style="float:left;margin: 20px 40px;" type="text" ng-model="color" placeholder="Are you Red or Blue - Type red or blue here!"/>

     <logo></logo>

     <p data-ng-if="username">{{'Hello ' + username}}<a href data-ng-click="logout()">logout</a></p>

   </header>

   <section class="container">

     <article class="redblue">

     </article>

     <main data-ng-view>
       <p>Stat tuned loading, or you have a JavaScript blocker active</p>
       <img src="http://www.alternet.org/files/images/managed/Media_bush_confused.jpg" alt="Confused Bush" />
     </main>

     <aside class="redblue">

     </aside>

   </section> <!-- END SECTION CONTAINER -->

   <footer data-copyright></footer>
  </div>


  <script src="bundle.js"></script>

  <script type="text/javascript">
    var slide = false;
  </script>

</body>
</html>
