body{
  background-color: #2B2C31;
}
main{
  background: url(https://static.pexels.com/photos/6414/rucola-young-argula-sproutus.jpg) center no-repeat ;
  background-size: cover;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  color: #BABABE;
  line-height: 1;
  font-family: "lato";
  display: block;
}
article{
  border-bottom: 1px solid #BABABE;
}
a {
  color: #339900;
}
a:hover{
  color: #00BD39;
}
a:visited{
  color: #64DE89;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}