main {
  overflow: hidden;
  width: 100%;
}
header, section {
  margin: 10px;
}
footer {
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
header h1 {
  font-family: 'Grand Hotel', sans-serif;
  text-align: center;
  font-size: 5em;
  color: #fff;
}
.right {
  background-color: rgba(0,0,0,0.5);
  float: right;
  width: 30%;
  text-align: center;
}
.left {
  background-color: rgba(0,0,0,0.5);
  float: left;
  width: 30%;
  text-align: center;
}
h2 {
  border-bottom: 1px solid #BABABE;
  font-family: 'Grand Hotel', sans-serif;
}
input, label {
  display: block;
  margin: 10px auto;
}
.nonCrud {
  text-align: center;
  margin: 0 auto;
  width: 30%;
  font-size: 36px;
  color: #fff;
}
button {
  margin-bottom: 10px;
}
