/******************MEYER CSS RESET*******************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************** Main Page Layout **************/
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  max-width: 1000px;
}

header {
  color: white;
  background-image: url("../img/dogs.jpg");
	background-size: cover;
  padding: 0;
}

nav {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.7em;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
}

nav li {
	display: inline;
}

h1 {
  font-size: 3.4rem;
  text-shadow: 2px 2px #C3DEEC;
}

h1.title {
	font-family: 'Gloria Hallelujah';
	font-size: 3em;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

a {
  color: #808080;
}

img {
  max-width: 100%;
  display:block;
  height: auto;
}

footer {
	text-align: center;
	text-size: 12;
}
