.left {
  margin: 2%;
  padding: 1%;
  width: 30%;
  border: 1px inset black;
  border-radius: 4px;
  float: left;
}

.center {
  margin: 2%;
  padding: 1%;
  width: 30%;
  border: 1px inset black;
  border-radius: 4px;
  float: left;
}

aside {
  margin: 2%;
  padding: 0.5%;
  width: 15%;
  border: 1px inset black;
  border-radius: 4px;
  float: right;
}

button {
  margin: 2px;
  border: 1px solid black;
}

body {
  width: 100%;
  height: 100%;
}

body::after {
  content: "";
  background: url('http://images6.alphacoders.com/478/478730.jpg');
  background-size: auto;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

footer {
  border: 1px solid black;
  padding: 20px;
  margin-top: 380px;
}
