<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Counter-Strike Stream Adventure</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body data-ng-app="CSApp">
    <header>
      <h1>Super Awesome Counter-Strike App</h1>
    </header>
    <main>
      <!-- <img src="/img/logo.png" style="width:100%"> -->
      <section class="column-left" data-ng-controller="CTController" data-ng-init="getCT()">
        <h2>Assemble the Counter-Terrorist team:</h2>
        <ul>
          <ct data-ng-repeat="ct in cts" data-ct-data="ct">
            <button data-ng-click="deleteCT(ct)">Delete CT</button>
            <button data-ng-if="!ct.editing" data-ng-click="toggleCTEdit(ct)">Update CT</button>
            <ct-form
              data-ng-if="ct.editing"
              data-save="updateCT(ct)"
              data-button-text="Update CT"
              data-ct="ct"
            >
            <button type="button" data-ng-click="toggleCTEdit(ct)">Cancel</button>
            </ct-form>
          </ct>
        </ul>
        <ct data-ct-data="newCT">
          <ct-form
            data-button-text="Create new CT"
            data-ct="newCT"
            data-save="createCT(newCT)"
          ></ct-form>
        </ct>
        <br/>
        <table style="width:100%">
          <tr>
            <th>Name</th>
            <th>Rifle</th>
            <th>Pistol</th>
            <th>Grenade</th>
            <th>Organization</th>
          </tr>
          <tr data-ng-repeat="ct in cts">
            <td>{{ct.name}}</td>
            <td>{{ct.rifle}}</td>
            <td>{{ct.pistol}}</td>
            <td>{{ct.grenade}}</td>
            <td>{{ct.organization}}</td>
          </tr>
        </table>

      </section>

      <section class="column-right" data-ng-controller="TController" data-ng-init="getT()">
        <h2>Assemble the Terrorist team:</h2>

        <ul>
          <t data-ng-repeat="t in ts" data-t-data="t">
            <button data-ng-click="deleteT(t)">Delete T</button>
            <button data-ng-if="!t.editing" data-ng-click="toggleTEdit(t)">Update T</button>
            <t-form
              data-ng-if="t.editing"
              data-save="updateT(t)"
              data-button-text="update T"
              data-ct="t"
            >
            <button type="button" data-ng-click="toggleTEdit(t)">Cancel</button>
          </t-form>
        </t>
        </ul>
        <t data-t-data="newT">
          <t-form
            data-button-text="Create new T"
            data-t="newT"
            data-save="createT(newT)"
          ></t-form>
        </t>
        <br/>
        <table style="width:100%">
          <tr>
            <th>Name</th>
            <th>Rifle</th>
            <th>Pistol</th>
            <th>Grenade</th>
            <th>Organization</th>
          </tr>
          <tr data-ng-repeat="t in ts">
            <td>{{t.name}}</td>
            <td>{{t.rifle}}</td>
            <td>{{t.pistol}}</td>
            <td>{{t.grenade}}</td>
            <td>{{t.organization}}</td>
          </tr>
        </table>

      </section>
      <section class="column-center">
        <h1>Fight!</h1>
      </section>
    </main>
    <footer>
      <p>© Copyright 2016, Chris Lee</p>
    </footer>
    <script src="js/bundle.js"></script>
  </body>
</html>
