<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<title>Walk a Pup</title>
</head>

<body data-ng-app="wapApp">

<nav class="nav">
		<ul>
			<li class><a href="#"><span>Home</span></a></li>
			<li class><a href="#"><span>About</span></a></li>
			<li class><a href="#"><span>Contact</span></a></li>
		</ul>
</nav>

<header class="header">
</header>

<h1 class="title">Walk a Pup</h1>

<section data-ng-controller="humanController" data-ng-init="allhumans()" class="column column_left">
	<h1>All Humans</h1>
	<ul>
		<human data-ng-repeat='human in humans' data-human-data='human'>
      <button data-ng-click='human.editing = !human.editing'>Update Human</button>
			<button data-ng-click='deleteHuman(human)'>Delete Human</button>
			<human-form
				data-ng-if='human.editing'
				data-save='updateHuman(human)'
				data-button-text='Update Human'
				data-human='human'
			>
				<button type='button' data-ng-click='updateHuman(human)'>Update</button>
			</human-form>
		</human>
	</ul>

	<h1>New Humans</h1>
	<p>Sign up to walk a doggy</p>
		<human data-human-data='newHuman'>
			<human-form
				data-button-text='Create New Human'
				data-human='newHuman'
				data-save='createHuman(newHuman)'
				>
			</human-form>
		</human>
</section>

<section data-ng-controller="dogController" data-ng-init="alldogs" class="column column_center">
  <h1>All Dogs</h1>
	<ul>
		<dog data-ng-repeat='dog in dogs' data-dog-data='dog'>
			<button data-ng-click='dog.editing = !dog.editing'>Update Dog</button>
			<button data-ng-click='deleteDog(dog)'>Delete Dog</button>
			<dog-form
				data-ng-if='dog.editing'
				data-save='updateDog(dog)'
				data-button-text='Update Dog'
				data-dog='dog'
			>
				<button type='button' data-ng-click='updateDog(dog)'>Update</button>
			</dog-form>
		</dog>
	</ul>

	<h1>New Dogs</h1>
	<p>Add dog</p>
		<dog data-dog-data='newDog'>
			<dog-form
				data-button-text='Create New Dog'
				data-dog='newDog'
				data-save='createDog(newDog)'
				>
			</dog-form>
		</dog>
</section>

<section class="column column_right">
	<h1>Blog</h1>
		<p>Blog articles will go here</p>
</section>

<footer>
	<section class="footer">
		<p>Copyright 2016 Walk A Pup</p>
	</section>
</footer>

  <script src="bundle.js"></script>
</body>
</html>
