<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ANgulR</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" href="css/base.css">
</head>
<body data-ng-app="flower">
  <main data-ng-controller="FlowerController" data-ng-init="getAll()">
    <article class="flowers">
      <!-- show all the flowers -->
      <h2>FLOWERS!</h2>
      <section data-ng-repeat="flower in flowers">
        <h2>{{flower.name}}</h2>
        <h3>{{flower.difficulty_to_grow}}</h3>
        <button data-ng-click="flower.editting = !flower.editting">edit</button>
        <form ng-if="flower.editting" ng-submit="updateFlower(flower)">
          <label for="name">Name:</label>
          <input type="text" name="name" data-ng-model="flower.name">
          <label for="difficulty">Difficulty to Grow:</label>
          <input type="text" name="difficulty" data-ng-model="flower.difficulty_to_grow">
          <button type="submit">update</button>
        </form>
        <!-- delete button -->
        <button data-ng-click="deleteFlower(flower, $index)">DELETE {{flower.name}} </button>
      </section>
      
      <!-- post a new flower -->
      <section>
        <h4>NEW FLOWER</h4>
        <form data-ng-submit="postFlower(newFlower)">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" data-ng-model="newFlower.name">
          <label for="difficulty">Difficulty:</label>
          <input type="text" name="difficulty" id="difficulty" data-ng-model="newFlower.difficulty_to_grow">
          <button type="submit">POST</button>
        </form>
      </section>
    </article>

    <article class="gardeners">
      <!-- show all the gardeners -->
      <h2>GARDENERS!</h2>
      <section data-ng-repeat="gardener in gardeners">
        <h2>{{gardener.name}}</h2>
        <h3>{{gardener.favFlower}}</h3>
        <button data-ng-click="gardener.editting = !gardener.editting">edit</button>
        <form ng-if="gardener.editting" ng-submit="updateGardener(gardener)">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" data-ng-model="gardener.name">
          <label for="favFlower">Favorite Flower:</label>
          <input type="text" name="favFlower" data-ng-model="gardener.favFlower">
          <button type="submit">update</button>
        </form>
        <!-- delete button -->
        <button data-ng-click="deleteGardener(gardener, $index)">DELETE {{gardener.name}} </button>
      </section>
      
      <!-- post a new gardener -->
      <section >
        <h4>NEW GARDENER</h4>
        <form data-ng-submit="postGardener(newGardener)">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" data-ng-model="newGardener.name">
          <label for="favFlower">Favorite Flower:</label>
          <input type="text" name="favFlower" id="favorite flower" data-ng-model="newGardener.favFlower">
          <button type="submit">POST</button>
        </form>
      </section>
    </article>
    
    <article class="nonCrud">
      <p>{{nonCrud}}</p>
    </article>
  </main>

  <script src="bundle.js"></script>
</body>
</html>
