<section data-ng-init="alldogs()">
  <h1>Who's Yer Doggy?</h1>
  <section data-ng-if="errors.length">
    <h2>Errors: </h2>
    <ul>
    	<li data-ng-repeat="error in errors">{{error}}<button data-ng-click="dismissError(error)" alt="dismiss">X</button></li>
    </ul>
  </section>
  <ul>
    <dog data-ng-repeat="dog in dogs" data-dog-data="dog">
      <button data-ng-click="deleteDog(dog)">Delete Dog</button>
      <button data-ng-if="!dog.editing" data-ng-click="updateDog(dog)">Update Dog</button>
      <dog-form
        data-ng-if="dog.editing"
        data-save="updateDog(dog)"
        data-button-text="Update Dog"
        data-dog="dog"
      >
        <button type="button" data-ng-click="updateDog(dog)">Cancel</button>
      </dog-form>
    </bear>
  </ul>
  <dog data-dog-data="newDog">
    <dog-form
      data-button-text="Create new Dog"
      data-dog="newDog"
      data-save="createDog(newDog)"
    ></dog-form>
  </dog>
</section>
