<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cats & Dogs</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>
<body data-ng-app="petsApp">
  <main class="row">
    <header class="col-xs-12">
      <h1>Cats & Dogs</h1>
    </header>
    <!-- Cats Resource -->
    <section class="col-sm-4" data-ng-controller="CatsController" data-ng-init="getCats()">
      <bdi class="row">
        <form class="row" data-ng-submit="createCat(newCat)">
          <h2 class="col-xs-12">Create a New Cat</h2>
          <input class="col-xs-12" data-ng-model="newCat.name" type="text" placeholder="Name">
          <input class="col-xs-12" data-ng-model="newCat.color" type="text" placeholder="Color">
          <input class="col-xs-12" data-ng-model="newCat.lives" type="text" placeholder="Lives (default: 9)">
          <button class="col-xs-12" type="submit">CREATE</button>
        </form>
      </bdi>
      <cat class="row resource" data-ng-repeat="cat in cats" data-cat-data="cat"></cat>
    </section>
    <!-- Dogs Resource -->
    <section class="col-sm-4" data-ng-controller="DogsController" data-ng-init="getDogs()">
      <bdi class="row">
        <form class="row" data-ng-submit="createDog(newDog)">
          <h2 class="col-xs-12">Create a New Dog</h2>
          <input class="col-xs-12" data-ng-model="newDog.name" type="text" placeholder="Name">
          <input class="col-xs-12" data-ng-model="newDog.color" type="text" placeholder="Color">
          <input class="col-xs-12" data-ng-model="newDog.lives" type="text" placeholder="Lives (default: 1)">
          <button class="col-xs-12" type="submit">CREATE</button>
        </form>
      </bdi>
      <dog class="row resource" data-ng-repeat="dog in dogs" data-dog-data="dog"></dog>
    </section>
    <!-- Non-REST Feature -->
    <section class="col-sm-4"></section>

  </main>
  <script src="bundle.js"></script>
</body>
</html>
