body{
  background-image: url(http://communications.oregonstate.edu/sites/communications.oregonstate.edu/files/background3.jpg);
}
article, main, aside, nav, section {
  color: #000;
  line-height: 1;
  font-family: "arial";
  display: block;
}

