header li {
  float:left;
}

.movies, .actors{
  overflow: auto;
  .left-col {
    margin: 1%;
    width: 31.3%;
    float: left;
    ol{
      padding: 0.5rem;
    }
  }
  .middle-col {
    margin: 1%;
    width: 31.3%;
    float: left;
    form {
      padding: 0.5rem;
    }
  }
  .right-col {
    margin: 1%;
    width:31.3%;
    float: left;
    table {
      margin-top: 0.5rem;
    }
  }
}

footer {
  text-align: center;
}
