$color_movies: #f67944;
$color_actors: #2677bb;

header {
  text-align: center;
  ul {
    display: inline-block;
    li {
      padding: 1rem;
      a {
        font-size: 1.5rem;
        color:black;
        display: inline-block;
        padding: 0.5rem;
        background: #c7943e;
      }
    }
  }
}


.movies {
  h1 {
    color: $color_movies;
  }
  .label {
    font-weight: bold;
  }
}

.actors {
  h1 {
    color: $color_actors;
  }
  .label {
    font-weight: bold;
  }
}


table{
  width: 100%;
  th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    padding: 7px 10px 10px 10px;
    td {
      text-align: left;
      padding: 7px 10px 10px 10px;
    }
  }
}
