header {
  text-align: center;
}
header ul {
  display: inline-block;

}

header li {
  padding: 1rem;
}

header li a {
  font-size: 1.5rem;
  color:black;
  display: inline-block;
  padding: 0.5rem;
  background: #c7943e;
}

.label {
  font-weight: bold;
}

.movies {
  overflow: auto;
}
.movies h1 {
  color: #f67944;
}
.movies ul ol {
  padding: 0.5rem;
}

.movies-table {
  margin-top: 0.5rem;
}

.actors {
  overflow: auto;
}
.actors ul ol {
  padding: 0.5rem;
}
.actors h1 {
  color:#2677bb;
}
.actors-table {
  margin-top: 0.5rem;
}

.left-col {
  margin: 1%;
  width: 31.3%;
  float: left;
}

.middle-col {
  margin: 1%;
  width: 31.3%;
  float: left;
}

.right-col {
  margin: 1%;
  width:31.3%;
  float: left;
}

footer {
  text-align: center;
}
