body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color:#333;
}

p {
  padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#header {
  height: 75px;
  width: 100%;
  background:#F0F0F0;
  border:1px solid #CCC;
  top:0;
  left:0;
  text-align: center;
  padding-top: 10px;
  font-size: 30px;
}

#content {
  float: left;
  /*background-color: blue;*/
  background: #FFFFFF;
  width: 750px;
  padding: 10px;
  text-align: center;
  padding-bottom: 10px;
  min-height: 90vh;
  max-height: 90vh;
  overflow: scroll;

}

#leftcolumn {
  /*background: #33CCFF;*/
  width: 300px;
  height: 350px;
  float: left;
  margin-left: 20px;
  min-height: 100vh;
  overflow: scroll;
}

#rightcolumn {
  /*background: #CC33FF;*/
  width: 300px;
  height: 350px;
  float: left;
  min-height: 100vh;
  overflow: scroll;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  clear: both;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 16px;
  padding-top: 20px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
form {
  padding-top: 10px;
  padding-bottom: 30px;
}

table {
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  padding-top: 50px;

}
thead {
  background-color: #4CAF50;
  color: white;
}

td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.name {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.addNew {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
