<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>House of Gift Cards</title>
</head>
<body data-ng-app='hogcApp'>

  <section data-ng-controller='RequestsController' data-ng-init='getAllRequests()'>
		<article>
	    <h1>All Requests</h1>
	    <ul>
	      <request data-ng-repeat='request in requests' data-request-data='request'>
	        <button data-ng-if='!request.editing' data-ng-click='toggleEdit(request)'>Update Request</button>
	        <button data-ng-click='deleteRequest(request)'>Delete Request</button>

					<request-form
						data-ng-if='request.editing'
						data-save='updateRequest(request)'
						data-button-text='Update Request'
						data-request='request'>
					<button type='button' data-ng-click='toggleEdit(request)'>Cancel</button>
					</request-form>

	      </request>
	    </ul>
		</article>

    <article data-request-data='newRequest'>
			<request-form
				data-button-text='Create New Request'
				data-request='newRequest'
				data-save='createRequest(newRequest)'
			></request-form>
    </article>
  </section>

  <script src='bundle.js'></script>
</body>
</html>
