<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>House of Gift Cards</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/application.css">
</head>

<body data-ng-app='hogcApp'>
	<div data-ng-controller='authController' data-ng-init='updateUsername()'>
		<header>
			<h1>House of Gift Cards</h1>
			<p data-ng-if='username'>Hello, {{username}} <a href data-ng-click='logout()'>logout</a></p>
		</header>

		<main data-ng-view>
			<p>Stay tuned loading, or you have a javascript blocker active</p>
		</main>

		<footer>
			<p>
				100% of every dollar you gift on House of Gift Cards goes directly towards the requestor; House of Gift Cards does not take a cut.
			</p>
		</footer>
	</div>

  <script src='bundle.js'></script>
</body>
</html>
